@import "../../../../assets/stylus/variable.styl"
@import "../../../../assets/stylus/mixin.styl"

.profileThumbed-wrapper
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  z-index 9
  background-color $color-background
  .thumbed-content
    position absolute
    top 40px
    left 0
    right 0
    bottom 0
    overflow hidden
    padding-top 10px
