@import "../../../assets/stylus/variable.styl";

.searchBar-wrapper
  display flex
  padding 8px 10px
  background-color $color-theme
  .search-box
    flex 1
    height 30px
    line-height 30px
    color $color-text-ll
    background-color #3399fe
    padding 0 5px
    border-radius 3px
    .iconfont
      font-size $font-size-large
      margin-right 10px
      vertical-align top
    .text
      vertical-align top
      font-size 13px
      color rgba(255, 255, 255, 0.5)
  .tag-box
    margin-left 10px
    line-height 30px
    color $color-text-ll
    .iconfont
      font-size 15px
      margin-right 5px
    .text
      font-size 15px
