@import "../../../assets/stylus/variable.styl"
@import "../../../assets/stylus/mixin.styl"

.columnItem-wrapper
  background-color $color-background-d
  margin-bottom 10px
  .columnItem-header
    display flex
    align-items center
    padding 12px 12px 0 12px
    .user-box
      flex 1
    .more
      color $color-text-l
  .columnItem-content
    padding 10px
    border-1px($color-border)
    .title-box
      font-size $font-size-medium-xx
      font-weight 700
      line-height 1.4
      color #17181a
      margin-bottom 5px
      .tag
        font-weight 400
        font-size $font-size-small
        color $color-theme
        padding 1px 5px
        background-color #e5f2ff
        border-radius 3px
        margin-right 10px
    .content
      display flex
      .text
        flex 1
        font-size $font-size-medium-m
        line-height 22px
        white-space normal
        overflow hidden
        text-overflow ellipsis
        display -webkit-box
        -webkit-line-clamp 3
        -webkit-box-orient vertical
        color #5c6066
      .img-box
        width 65px
        height 65px
        border-radius 3px
        background-size cover
        background-repeat no-repeat
        background-position center center
        margin-left 10px
  .columnItem-footer
    display flex
    height 40px
    .footer-item
      flex 1
      text-align center
      line-height 40px
      color $color-text-l
      &.active
        color #0cbb0a
      .iconfont
        font-size $font-size-medium
        margin-right 5px
        vertical-align top
      span
        font-size $font-size-small-x
        vertical-align top
