.imageSlider-wrapper
  width 100%
  height 125px
  .imageSlider-content
    .slider-item
      height 125px
      float left
      background-repeat no-repeat
      background-size cover
      background-position center center
