@import "../../../assets/stylus/variable.styl"

.followBtn-wrapper
  width 75px
  padding 7px 0
  text-align center
  border 1px solid #6cbd45
  border-radius 3px
  color #6cbd45
  &.following
    border 1px solid gold
    color $color-following
  .iconfont
    font-size $font-size-small-x
    margin-right 5px
