@import "../../../../assets/stylus/variable.styl"
@import "../../../../assets/stylus/mixin.styl"

.userMore-wrapper
  background-color $color-background
  padding-top 10px
  .more-box
    .more-item
      font-size $font-size-medium-m
      padding 12px 15px
      background-color $color-background-d
      border-1px($color-border)
