@import "../../assets/stylus/variable.styl"
@import "../../assets/stylus/mixin.styl"

.profile-wrapper
  width 100%
  height 100%
  overflow hidden
  padding-bottom 40px
  .profile-header
    height 40px
    line-height 40px
    text-align center
    font-size $font-size-medium-xx
    color $color-text-ll
    background-color $color-theme
  .profile-content
    position absolute
    top 40px
    left 0
    right 0
    bottom 40px
    overflow hidden
    padding-top 10px
    .user-info
      display flex
      align-items center
      padding 13px
      background-color $color-background-d
      margin-bottom 10px
      .avatar
        width 45px
        height 45px
        border-radius 50%
        overflow hidden
        margin-right 10px
        img
          width 100%
          height 100%
      .content
        flex 1
        .username
          font-size $font-size-large-x
          margin-bottom 5px
        .job-info
          font-size $font-size-small-x
          color $color-text-l
      .arrow
        color $color-text-l
    .option-box
      background-color $color-background-d
      margin-bottom 10px
      .option-item
        display flex
        align-items center
        height 45px
        padding 0 15px
        border-1px($color-border)
        .icon
          width 25px
          text-align center
          margin-right 15px
          color $color-text-l
          .icon-lingdang
            color #0180ff
          .icon-good
            color #68be46
          .icon-star
            color #febc4a
          .icon-gouwudai
            color #febc4a
        .text
          flex 1
          font-size $font-size-medium-m
        .count
          font-size $font-size-small
          color $color-text-l
