@import "../../../../assets/stylus/variable.styl"

.pinsRecommend-wrapper
  position absolute
  top 34px
  left 0
  right 0
  bottom 40px
  padding-top 10px
  overflow hidden
  background-color $color-background
