@import "../../../assets/stylus/variable.styl"
@import "../../../assets/stylus/mixin.styl"

.userItem-wrapper
  display flex
  align-items center
  padding 10px
  margin-bottom 10px
  height 68px
  background-color $color-background-d
  border-1px($color-border)
  .avatar-box
    width 40px
    height 40px
    border-radius 50%
    overflow hidden
    margin-right 10px
    background-repeat no-repeat
    background-size cover
    background-position center center
  .content
    flex 1
    font-size $font-size-small
    margin-right 20px
    .username
      margin-bottom 6px
      font-size $font-size-small-x
      span
        vertical-align top
        margin-right 5px
      img
        vertical-align top
        width 22px
    .job
      margin-bottom 5px
      color $color-text-l
    .company
      color $color-text-l
  .follow-btn
    width 75px
    text-align center
    font-size $font-size-small-x
    padding 7px 0
    color #6cbd45
    border 1px solid #6cbd45
    border-radius 3px
    .iconfont
      font-size $font-size-small-x
      margin-right 5px
