@import "../../../assets/stylus/variable.styl"

.tabBar-wrapper
  position fixed
  left 0
  right 0
  bottom 0
  height 40px
  display flex
  box-shadow 0 -1px 2px 1px rgba(0, 0, 0, 0.05)
  background-color $color-background-d
  .tabBar-item
    flex 1
    text-align center
    line-height 36px
    color $color-text-d
    &.active
      color $color-theme
    .iconfont
      font-size 28px
