@import "../../../../assets/stylus/variable.styl"
@import "../../../../assets/stylus/mixin.styl"

.active-wrapper
  background-color $color-background
  .like-box
    .like-header
      font-size $font-size-small-x
      padding 10px
      color $color-text-l
      background-color $color-background-d
      border-1px($color-border)
      .username
        color $color-text
        margin-right 5px
