@import "../../../assets/stylus/variable.styl"
@import "../../../assets/stylus/mixin.styl"

.tagItem-wrapper
  display flex
  align-items center
  padding 10px
  margin-bottom 10px
  background-color $color-background-d
  border-1px($color-border)
  .img-box
    width 40px
    height 40px
    background-repeat no-repeat
    background-position center center
    background-size cover
    border-radius 50%
    overflow hidden
    margin-right 10px
  .content
    flex 1
    .title
      font-size $font-size-medium-x
      font-weight 700
      margin-bottom 5px
    .info
      font-size $font-size-small
      color $color-text-l
