@import "../../../assets/stylus/variable.styl"
@import "../../../assets/stylus/mixin.styl"

.related-wrapper
  border-1px($color-border)
  padding 10px
  .related-title
    font-size $font-size-medium
    font-weight 400
    color $color-title
    margin-bottom 12px
  .related-info
    font-size $font-size-small
    color $color-text-l
    margin-bottom 12px
