.loading-wrapper
  width 100%
  height 44px
  display flex
  justify-content center
  align-items center
  .icon-box
    width 44px
    height 44px
    border-radius 50%
    overflow hidden
    animation rotate 1s linear infinite
    img
      width 100%
      height 100%

@keyframes rotate
  0%
    transform rotate(0)
  100%
    transform rotate(360deg)
