$color-theme = #0180ff
$color-title = #2e3135
$color-text = #333
$color-text-d = #666
$color-text-l = #909090
$color-text-ll = #fff
$color-background = #f4f5f5
$color-background-d = #fff
$color-border = #edeeef

$font-size-small = 12px
$font-size-small-x = 13px
$font-size-medium = 14px
$font-size-medium-m = 15px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 20px
