@import "../../../assets/stylus/variable.styl"

.shareItem-wrapper
  display flex
  padding 10px
  background-color $color-background-d
  .shareItem-content
    flex 1
    .title
      font-weight 400
      margin-bottom 14px
      font-size $font-size-small-x
    .info
      font-size $font-size-small
      color $color-text-l
  .image-box
    width 50px
    height 50px
    background-repeat no-repeat
    background-position center center
    background-size cover
    border-radius 3px
